include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt

recursive-include pylama_pylint *
recursive-include pylama_pylint/astroid/brain *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
