include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt

recursive-include pylava_pylint *
recursive-include pylava_pylint/astroid/brain *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
